Fuentes:
<select class="custom-select" [(ngModel)]="source" (change)="onChange()">
    <option value="" selected>Todas</option>
    <option *ngFor="let item of sources" value="{{item.id}}">{{item.name}}</option>
</select>

<form (submit)="onChange()" class="form-inline" style="float: right"   >
    <input  [(ngModel)]="search" name="buscar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="grid">
    <div *ngFor="let item of news" class="sm-50 md-25 lg-33">
      <img style="width: 80%;" *ngIf="item.urlToImage && item.urlToImage !== 'null'" src="{{item.urlToImage}}" alt="">
      <img style="width: 80%;display: block;" *ngIf="!item.urlToImage || item.urlToImage === 'null'" src="https://pm1.narvii.com/5713/b2fc3bebbbf12f65f1a5c2e20cafb5def493e8cc_hq.jpg" alt="">
      <a href="{{item.url}}">{{item.url}}</a>
    </div>
    <div *ngIf="news.length == 0" class="xs-100">No hay elementos para mostrar</div>
</div>